body{
    font-family: sans-serif;
}

.cardtitle{
    box-shadow: 1px 1px 5px #ccc;
    background-color: rgb(232, 179, 248);
    padding: 1px;
    border-radius: 5px;
    float: center;
    align-self: center;
    margin-bottom: 0 auto;
}
.cardtitle > h1{
    text-align: center;
}

.divprincipal{
    float: center;
    align-self: center;
    padding: 25px;
    width: 215px;
    height: 200px;
    background-color: rgb(232, 179, 248);
    text-align: center;
    display: flex;
    margin: 0 auto;
    margin-top: 25px;
    align-items: center;
}



